<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/adminTemplate.css">
    <link rel="stylesheet" href="/stylesheets/adminhome.css">
    <link rel="stylesheet" href="/stylesheets/orders.css">
    <link rel="stylesheet" href="/stylesheets/adminsidebar.css">
    <link rel="stylesheet" href="/stylesheets/adminManageEmployee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("dashboard.ejs") %> 
    <div class="orders-container">
        <h1 class="orders-title">Delivered Orders as buyer</title>
        <table collspacing="10" colpadding="10" border="1">
            <colgroup>
                <col style="width:10%">
                <col style="width: 45%">
                <col style="width:15%">
                <col style="width:10%">
                <col style="width:20%">
            </colgroup>
            <tr>
                <th>order id</th>
                <th>order title</th>
                <th>price</th>
                <th>time left</th>
                <th></th>
            </tr>
            <% for( let i = 0; i < orders.length; i++ ) { %>
                <tr>
                    <td><%= orders[i].id %> </td>
                    <td><%= orders[i].id %> </td>
                    <td><%= orders[i].price %> </td>
                    <td><%= orders[i].id %> </td>
                    <td>
                        <button onclick="" id="download-btn-orders">Deliver</button>
                        <button  id="com-order-btn">Complete Order</button>
                    </td>
                </tr>
                <div class="orders-complete-window">
                    <div class="orders-complete-window-div">
                        <form action="/order/complete-order/<%= orders[i].id %>" method="POST" >
                            <input type="hidden" name="gigId" value="<%= orders[i].gigId %>">
                            <input type="hidden" name="price" value="<%= orders[i].price %>">
                            <input type="hidden" name="sellerId" value="<%= orders[i].sellerId %>">
                            <span>Please rate his service</span>
                            <div>
                                <label for="">1</label>
                                <input type="radio" name="rating">
                                <label for="">2</label>                       
                                <input type="radio" name="rating">
                                <label for="">3</label>
                                <input type="radio" name="rating">
                                <label for="">4</label>
                                <input type="radio" name="rating">
                                <label for="">5</label>
                                <input type="radio" name="rating">
                            </div>
                            <label for="">Description</label>
                            <textarea name="description" id="" cols="30" rows="5" name="descriptin"></textarea>
                            <button type="submit">Mark as Complete</button>
                        </form>
                    </div>
                </div>
            <% } %>

        </table>
    </div>

    <script  src="javascript/header.js"></script>
    <script>
        const completeOrderBtn = document.getElementById("com-order-btn")
        const completeDiv = document.getElementsByClassName("orders-complete-window")[0]

        const completeOrderForm = document.getElementsByClassName("orders-complete-window-div")[0]
  
        completeDiv.addEventListener("click",()=>{
            if (!completeOrderForm.contains(event.target)) {
                completeDiv.classList.remove("hide-deliver");
            }
        })
        completeOrderBtn.addEventListener("click",()=>{
            completeDiv.classList.add("hide-deliver");
        })

    </script>
    <script src="/javascript/admin.js"></script>
</body>
</html>
