<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/adminTemplate.css">
    <link rel="stylesheet" href="/stylesheets/adminhome.css">
    <link rel="stylesheet" href="/stylesheets/orders.css">
    <link rel="stylesheet" href="/stylesheets/adminsidebar.css">
    <link rel="stylesheet" href="/stylesheets/adminManageEmployee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("dashboard.ejs") %> 
    <div class="orders-container">
        <h1 class="orders-title">Completed Orders as buyer</title>
        <table collspacing="10" colpadding="10" border="1">
            <colgroup>
                <col style="width:10%">
                <col style="width: 45%">
                <col style="width:15%">
                <col style="width:10%">
                <col style="width:20%">
            </colgroup>
            <tr>
                <th>order id</th>
                <th>order title</th>
                <th>price</th>
                <th>time left</th>
                <th></th>
            </tr>
            <% for( let i = 0; i < orders.length; i++ ) { %>
                <tr>
                    <td><%= orders[i].id %> </td>
                    <td><%= orders[i].id %> </td>
                    <td><%= orders[i].price %> </td>
                    <td><%= orders[i].id %> </td>
                    <td>
                        <button onclick="" id="download-btn-orders">Deliver</button>
                    </td>
                </tr>
            <% } %>

        </table>
        
    </div>

    <script  src="javascript/header.js"></script>
    <script>

    </script>
    <script src="/javascript/admin.js"></script>
</body>
</html>