<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/adminTemplate.css">
    <link rel="stylesheet" href="/stylesheets/adminhome.css">
    <link rel="stylesheet" href="/stylesheets/orders.css">
    <link rel="stylesheet" href="/stylesheets/adminsidebar.css">
    <link rel="stylesheet" href="/stylesheets/adminManageEmployee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("dashboard.ejs") %> 
    <div class="orders-container">
        <h1 class="orders-title">Delivered Orders as buyer</title>
        <table collspacing="10" colpadding="10" border="1">
            <colgroup>
                <col style="width:10%">
                <col style="width: 55%">
                <col style="width:15%">
                <col style="width:20%">
            </colgroup>
            <tr>
                <th>order id</th>
                <th>order title</th>
                <th>price</th>
                <th></th>
            </tr>
            <% for( let i = 0; i < orders.length; i++ ) { %>
                <tr>
                    <td><%= orders[i].id %> </td>
                    <td><%= orders[i].title %> </td>
                    <td><%= orders[i].price %> </td>
                    <td>
                        <a href="<%= orders[i].imgurl %>"> View</a>          
                        <button  class="com-order-btn">Complete Order</button>
                    </td>
                </tr>
                <div class="orders-complete-window">
                    <div class="orders-complete-window-div">
                        <form class="orders-completed-form" action="/order/complete-order/<%= orders[i].id %>" method="POST" >
                            <div class="dotm-content">
                                <input type="hidden" name="gigId" value="<%= orders[i].gigId %>" />
                                <input type="hidden" name="price" value="<%= orders[i].price %>" />
                                <input type="hidden" name="sellerId" value="<%= orders[i].sellerId %>" />
                                <span>Please rate his service</span>
                                <div>
                                    <label for="">1</label>
                                    <input type="radio" name="rating" value="1">
                                    <label for="">2</label>                       
                                    <input type="radio" name="rating" value="2"> 
                                    <label for="">3</label>
                                    <input type="radio" name="rating" value="3">
                                    <label for="">4</label>
                                    <input type="radio" name="rating" value="4">
                                    <label for="">5</label>
                                    <input type="radio" name="rating" value="5">
                                </div>
                                <label class="dotm-content-title" for="">Description</label><br>
                                <textarea name="description" id="" cols="30" rows="5" name="descriptin"></textarea><br>
                            </div>
                            <button type="submit">Mark as Complete</button>
                        </form>
                    </div>
                </div>
            <% } %>

        </table>
    </div>

    <script  src="javascript/header.js"></script>
    <script>
        const completeOrderBtn = document.getElementsByClassName("com-order-btn")
        const completeDiv = document.getElementsByClassName("orders-complete-window")[0]

        const completeOrderForm = document.getElementsByClassName("orders-complete-window-div")[0]
  

        for(let i=0; i < completeOrderBtn.length ; i++){
            completeDiv.addEventListener("click",()=>{
            if (!completeOrderForm.contains(event.target)) {
                completeDiv.classList.remove("hide-deliver");
            }
        })

            completeOrderBtn[i].addEventListener("click",()=>{
            completeDiv.classList.add("hide-deliver");
        })
        }





    </script>
    <script src="/javascript/admin.js"></script>
</body>
</html>
