<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/userProfile.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="register.cc">
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <div class="up-container">
        <div class="up-content">
            <div class="up-profile-container">
                <div class="up-p-img">
                    <% if (profile.img_url == null ) { %>
                    <img src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png" alt="">
                     
                    <% } else{%>
                        <img src="<%= profile.img_url  %>" alt="">
                    <% } %> 
                </div>
                <h1><%= profile.username %> </h1>
                <% if (profile.bio == null) { %>
                    <h5>Bio goes here</h5>
                     
                    <% } else{%>
                        <h5><%= profile.bio %></h5>

                    <% } %> 
                <hr>
                <div class="up-user-details">
                    <i class="fa-regular fa-location-dot"></i>
                    <span>From</span>
                    <h4><%= profile.district %> </h4>
                </div>
                <div class="up-user-details">
                    <i class="fa-solid fa-person"></i>
                    <span>Member since</span>
                    <h4><%= profile.year %></h4>
                </div>
                <hr>
            </div>
            <div class="up-desc-container">
                <div class="up-desc-description">
                    <h4>Description</h3>
                        <% if (profile.description == null) { %>
                            <p>Description goes here</p>
                             
                            <% } else{%>
                                <p><%= profile.description %></p>
    
                            <% } %> 
                </div>
            </div>
        </div>
        <div class="up-orders-container">
            <% for(let i=0 ; i < gigs.length ; i++) {%> 
            <a href="/gig/view/<%= gigs[i].id %>">
            <div class="up-orders-gig">
                <img class="up-orders-gig-image" src="<%= gigs[i].img_url %> " alt="">
                <div class="up-gig-desc">
                    <div class="up-gig-profile">
                        <% if (profile.img_url == null) { %>
                            <img src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png" alt="">
                             
                            <% } else{%>
                                <img src="<%= profile.img_url  %>" alt="">
                            <% } %> 
                        <h4><%= profile.username%></h4>
                    </div>
                    <p><%= gigs[i].title %></p>
                    <h4><span>(4) </span> Feedbacks</h4>
                </div>
                <hr color="lightgray">
                <h3><span>Starting at </span>Lkr: <%= gigs[i].price %></h3>
            </div>
            </a>
            <% } %> 
        </div>
        
        <button class="up-add-new-gig"><a href="/gig/add-new-gig">Add New Gig</a></button>

    </div>
    
    <%- include("../partials/footer.ejs") %> 
    <script  src="javascript/header.js"></script>
</body>
    

</html>