<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/resetPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>

</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <% if(prsToken){%>
        <div class="resetpass-container" >
            <div class="resetpass-content">

                        <% if(success ){ %>  
                            <h4><%= success  %> </h4>
                        <% }%> 
                            <% if(error ){ %>  
                                <h4><%= error  %> </h4>
                            <% } %> 
                        <form action="/user/reset/reset-password/<%= prsToken %>" method="POST">
                            <input type="text" placeholder="Enter New Password" name="password">
                            <input type="text" placeholder="Enter password again" name="password2">
                            <button type="submit">Reset</button>
                        </form>



            </div>
       </div>
    <% }else{ %>
        <% res.render("404error") %> 
    <% } %>  
       
    <%- include("../partials/footer.ejs") %> 
    <script type="javascript"  src="javascript/header.js"></script>
</body>
</html>